/*================================================== Global Rules ================================================== */
body{
  font-family: 'Droid Sans', sans-serif;
}

html, body{
  height:100%;
  margin: 0;
}

div, button {
  font-family: 'Droid Sans', sans-serif !important;
}

*{
  outline: none !important;
}

.center{
  text-align: center;
  margin: auto;
}

.custom-button{
  border: none!important;
  padding: 10px!important;
  cursor: pointer;
}

/*collaboration section*/
.collab{
  position: relative;
  z-index: 9999;
}

.collab-input{
  display: none;
  border: 1px solid;
  margin-top: 2px;
  padding: 2px;
  background-color: #DDD;
  width: 230px;
}

#gobutton{
  display: block;
  margin: 2px auto 0;
}

div#directoryselection{
  position: relative;
  margin-top: 10px;
}

div#inputcontainer{
  position: relative;
  top: 5px;
  left: 2px;
  margin-bottom: 5px;
}

div#viewercontainer{
  background-color: #353535;
  border: 6px solid #353535;
  height: 100%;
  margin: 0;
}

div.view-renderer-titlebar{
  border-radius: 0;
  background: #f9f9f9;
}

.modal {
  width: 50%;
  height: auto;
  margin: auto;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  display:none;
}

.modalDialog {
  min-height: 300px;
  min-width:500px;
  background-color: #f9f9f9;
}

.view-trash{
  position: absolute;
  z-index: 9998;
  top: 0;
  left: calc(50% - 100px);
  width: 200px;
  height: 90px;
  opacity: 0.96;
  background-color: #0091EA;
  color: #f9f9f9;
  display: none;
  border: 4px solid #f9f9f9;
  text-align: center;
  font-size: 72px;
}

.view-trash.highlight{
  border: 4px dashed #F9F9F9;
  background-color: #D50000;
}

.view-trash-sortable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.library .section {
  text-align: center;
  padding:10px;
  border: 2px solid #607D8B;
  background-color: #607D8B;
}

.library .section:hover {
  background-color: #0091EA;
  border: 2px solid #FFF;
  cursor: pointer;
}

.library .section .title {
  font-size: 25px;
}

.library .section .thumbnail {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-size: contain;
}
